<!DOCTYPE html>
<html>

<head>
    <style>
        html, body { margin: 0; padding: 0; height: 100%; background-color: rgb(68, 141, 35); }
    </style>
    <title>회원 가입</title>
</head>

<body>
    <form action="/join" method="POST">
        <fieldset>
            <legend>회원 가입</legend>
            이메일 : <input type="email" name="email"><br>
            비밀번호 : <input type="password" name="password"><br>
            이름 : <input type="text" name="name"><br>
            <button type="submit">가입하기</button>
        </fieldset>  
    </form> 
</body>  

</html>