<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>messenger</title>
    <style>
        html, body{
            margin: 0;
            padding: 0;
            height: 100%;
            background: black;
            color: white;
        }
        nav {
            width: 5%;
            height: 85%;
            float: left;
            background: #666666;
            text-align: center;
        }
        header {
            width: 95%;
            height: 15%;
            float: right;
            background: rgb(0, 0, 0);
        }
        section{
            width: 95%;
            height: 70%;
            float: right;
            background: rgb(44, 140, 71);
        }
        footer {
            width: 100%;
            height: 15%;
            clear: both;
            background: rgb(9, 77, 71);
        }
    </style>
    <script>
        function chatMode(){
            var friend_section = document.getElementsByClassName("friend_section")[0];
            var chat_section = document.getElementsByClassName("chat_section")[0];
            var more_section = document.getElementsByClassName("more_section")[0];
            var friend_header = document.getElementsByClassName("friend_header")[0];
            var chat_header = document.getElementsByClassName("chat_header")[0];
            var more_header = document.getElementsByClassName("more_header")[0];
            more_section.style.display='none';
            more_header.style.display='none';
            friend_section.style.display='none';
            friend_header.style.display='none';
            chat_section.style.display='block';
            chat_header.style.display='block';
        }

        function friendMode(){
            var friend_section = document.getElementsByClassName("friend_section")[0];
            var chat_section = document.getElementsByClassName("chat_section")[0];
            var more_section = document.getElementsByClassName("more_section")[0];
            var friend_header = document.getElementsByClassName("friend_header")[0];
            var chat_header = document.getElementsByClassName("chat_header")[0];
            var more_header = document.getElementsByClassName("more_header")[0];
            more_section.style.display='none';
            more_header.style.display='none';
            friend_section.style.display='block';
            friend_header.style.display='block';
            chat_section.style.display='none';
            chat_header.style.display='none';
        }

        function moreMode(){
            var friend_section = document.getElementsByClassName("friend_section")[0];
            var chat_section = document.getElementsByClassName("chat_section")[0];
            var more_section = document.getElementsByClassName("more_section")[0];
            var friend_header = document.getElementsByClassName("friend_header")[0];
            var chat_header = document.getElementsByClassName("chat_header")[0];
            var more_header = document.getElementsByClassName("more_header")[0];
            more_section.style.display='block';
            more_header.style.display='block';
            friend_section.style.display='none';
            friend_header.style.display='none';
            chat_section.style.display='none';
            chat_header.style.display='none';
        }
    </script>
</head>

<body>
    <nav>
        <br>
        <div class="friendMode" onclick="friendMode()"><strong>친구</strong></div>
        <br>
        <div class="chatMode" onclick="chatMode()"><strong>채팅</strong></div>
        <br>
        <div class="chatMode" onclick="moreMode()"><strong>더보기</strong></div>
    </nav>

    <header class="friend_header">
        <h3>친구</h3>
        <input type="search" placeholder="이름 검색"><br>
        <br>
        <span>프로필 이름</span><a onClick="window.open('/main/friend','_blank','left=800,top=250,height=400,width=350')" style="color:white;text-decoration:none;float:right;">친구 추가</a>
    </header>

    <section class="friend_section">
        <table>
            <tbody>
                <tr>
                    <td onclick="window.open(`/main/profile/{{user.id}}`,'_blank','left=800,top=250,height=400,width=350')"><img src="/uploads/userProfileImage/{{user.profileImage}}" alt="프로필 이미지" style="width: 50px;height: 50px;border-radius: 25px; margin-top:8px;"></td>
                    <td><strong>{{user.name}}</strong><div>{{user.profileMessage}}</div></td>
                </tr>
            </tbody>
        </table>
        <hr style="border: 1px solid black">
        <table>
            <tbody>
                {% for friend in allFriends %}
                <tr>
                    <td onclick="window.open(`/main/profile/{{friend.id}}`,'_blank','left=800,top=250,height=400,width=350')"><img src="/uploads/userProfileImage/{{user.profileImage}}" alt="프로필 이미지" style="width: 50px;height: 50px;border-radius: 25px; margin-top:8px;"></td>
                    <td><strong>{{friend.name}}</strong><div>{{friend.profileMessage}}</div></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <header class="chat_header" style="display: none;">
        <h3>채팅</h3>
    </header>
    
    <section class="chat_section" style="display: none;">
        채팅
    </section>

    <header class="more_header" style="display: none;">
        <h3>더보기</h3>
    </header>

    <section class="more_section" style="display: none;">
        더보기
    </section>

    <footer>
    </footer>
</body>

</html>