<!DOCTYPE html>
<html>

<head>
    {% if user %}
    <title>{{user.name}}님의 프로필</title>
    <style>
        body{
            color:white;
            background-image: url("/uploads/{{user.backgroundImage}}");
        }
        .section{
            width:100%; height:70%;
        }
        .footer{
            width:100%; height:30%;
        }
        .profileImage{
            width:50px; height:50px;
            margin-top: 150px;
            border-radius: 25px;
        }
    </style>
    {% endif %}
</head>

<body>
    {% if user %}
    <section class="section" style="text-align: center;">
        <img src="/uploads/{{user.profileImage}}" alt="프로필 이미지" class="profileImage">
        <br>
        <div>{{user.name}}</div>
    </section>
    <hr>
    <footer class="footer">
        <div style="margin: 10%;">
            <span style="margin: 6%;">나와의 채팅</span>
            <span style="margin: 6%;" onclick="window.open('/main/profile/edit/{{user.id}}','_blank','left=1200,top=250,height=400,width=350')">프로필 관리</span>
        </div>
    </footer>
    {% endif %}
</body>

</html>